In [32]:
import sys
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
df_h = pd.read_csv("historic_mix.csv")
df_n = pd.read_csv("mix.csv")

In [34]:
df_h.dtypes

Station No.            float64
Status                  object
Time                     int64
Stands                   int64
Bikes Avail              int64
Spaces Avail             int64
Bank                     int64
human_readible          object
weather_tamp           float64
weather_rain           float64
weather_temperature    float64
weather_time            object
dtype: object

In [35]:
df_h.head()

,Station No.,Status,Time,Stands,Bikes Avail,Spaces Avail,Bank,human_readible,weather_tamp,weather_rain,weather_temperature,weather_time
0,42.0,OPEN,1521068603000,30,10,20,1,14/03/2018 23:03:23,1.521072e+12,0.78,8.45,15/03/2018 00:00
1,30.0,OPEN,1521068983000,20,20,0,1,14/03/2018 23:09:43,1.521072e+12,0.78,8.45,15/03/2018 00:00
2,54.0,OPEN,1521068619000,33,2,31,0,14/03/2018 23:03:39,1.521072e+12,0.78,8.45,15/03/2018 00:00
3,56.0,OPEN,1521068973000,40,6,34,0,14/03/2018 23:09:33,1.521072e+12,0.78,8.45,15/03/2018 00:00
4,6.0,OPEN,1521069146000,20,4,16,0,14/03/2018 23:12:26,1.521072e+12,0.78,8.45,15/03/2018 00:00

In [36]:
df_n.head()

,Unnamed: 0,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,time,weather_tamp,weather_rain,weather_temperature,weather_time
0,0,42.0,1.522870e+12,OPEN,24.0,30.0,6.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
1,1,30.0,1.522870e+12,OPEN,14.0,20.0,6.0,04/04/2018 20:28:54,1.522872e+12,0.0,5.62,04/04/2018 21:00
2,2,54.0,1.522870e+12,OPEN,2.0,33.0,31.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
3,3,56.0,1.522870e+12,OPEN,15.0,40.0,25.0,04/04/2018 20:27:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
4,4,6.0,1.522870e+12,OPEN,7.0,20.0,12.0,04/04/2018 20:29:27,1.522872e+12,0.0,5.62,04/04/2018 21:00

In [37]:
df_n1=df_n.drop(["Unnamed: 0","weather_time","time","weather_tamp"],1)

In [38]:
df_n1.dtypes

STATION_NUMBER         float64
TIME                   float64
STATUS                  object
NUMBER_OF_BIKES        float64
NUMBER_OF_STANDS       float64
NUMBER_OF_SPACES       float64
weather_rain           float64
weather_temperature    float64
dtype: object

In [39]:
df_n1['STATION_NUMBER']=df_n1.STATION_NUMBER.astype(int)
df_n1['TIME']=df_n1.TIME.astype(int)
df_n1['NUMBER_OF_BIKES']=df_n1.NUMBER_OF_BIKES.astype(int)
df_n1['NUMBER_OF_STANDS']=df_n1.NUMBER_OF_STANDS.astype(int)
df_n1['NUMBER_OF_SPACES']=df_n1.NUMBER_OF_SPACES.astype(int)

In [40]:
df_n1=df_n1.drop(["NUMBER_OF_STANDS"],1)

In [41]:
df_n1.head()

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_SPACES,weather_rain,weather_temperature
0,42,1522870172000,OPEN,24,6,0.0,5.62
1,30,1522870134000,OPEN,14,6,0.0,5.62
2,54,1522870172000,OPEN,2,31,0.0,5.62
3,56,1522870069000,OPEN,15,25,0.0,5.62
4,6,1522870167000,OPEN,7,12,0.0,5.62

In [42]:
# DROP and standize the df_h data

In [43]:
df_h.dtypes

Station No.            float64
Status                  object
Time                     int64
Stands                   int64
Bikes Avail              int64
Spaces Avail             int64
Bank                     int64
human_readible          object
weather_tamp           float64
weather_rain           float64
weather_temperature    float64
weather_time            object
dtype: object

In [44]:
df_h1= df_h.drop(["Bank","weather_time","human_readible","weather_tamp","Stands"],1)

In [45]:
df_h1.dtypes

Station No.            float64
Status                  object
Time                     int64
Bikes Avail              int64
Spaces Avail             int64
weather_rain           float64
weather_temperature    float64
dtype: object

In [46]:
df_h1.rename(columns={'Station No.':'STATION_NUMBER',"Status":"STATUS","Time":"TIME","Bikes Avail":"NUMBER_OF_BIKES","Spaces Avail":"NUMBER_OF_SPACES"},inplace = True)

In [47]:
df_h1.dtypes

STATION_NUMBER         float64
STATUS                  object
TIME                     int64
NUMBER_OF_BIKES          int64
NUMBER_OF_SPACES         int64
weather_rain           float64
weather_temperature    float64
dtype: object

In [48]:
df_h1['STATION_NUMBER']=df_h1.STATION_NUMBER.astype(int)