In [14]:
import sys
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df_b = pd.read_csv("all_bikes.csv")
df_w = pd.read_csv("weather.csv")

/home/wu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_b

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES
0,42.0,1.522870e+12,OPEN,24.0,30.0,6.0
1,30.0,1.522870e+12,OPEN,14.0,20.0,6.0
2,54.0,1.522870e+12,OPEN,2.0,33.0,31.0
3,56.0,1.522870e+12,OPEN,15.0,40.0,25.0
4,6.0,1.522870e+12,OPEN,7.0,20.0,12.0
5,18.0,1.522870e+12,OPEN,3.0,30.0,27.0
6,32.0,1.522870e+12,OPEN,10.0,30.0,20.0
7,52.0,1.522870e+12,OPEN,1.0,32.0,31.0
8,48.0,1.522870e+12,OPEN,5.0,40.0,34.0
9,13.0,1.522870e+12,OPEN,6.0,30.0,24.0
10,43.0,1.522870e+12,OPEN,16.0,30.0,14.0
11,81.0,1.522870e+12,OPEN,36.0,40.0,4.0
12,31.0,1.522870e+12,OPEN,8.0,20.0,11.0
13,98.0,1.522870e+12,OPEN,0.0,30.0,30.0
14,14.0,1.522870e+12,OPEN,3.0,30.0,27.0
15,1.0,1.522870e+12,OPEN,0.0,31.0,31.0
16,23.0,1.522870e+12,OPEN,17.0,30.0,13.0
17,68.0,1.522870e+12,OPEN,1.0,40.0,38.0
18,74.0,1.522870e+12,OPEN,25.0,30.0,5.0
19,87.0,1.522870e+12,OPEN,38.0,38.0,0.0
20,84.0,1.522870e+12,OPEN,28.0,30.0,2.0
21,90.0,1.522870e+12,CLOSED,0.0,40.0,0.0
22,11.0,1.522870e+12,OPEN,0.0,30.0,30.0
23,17.0,1.522870e+12,OPEN,10.0,20.0,10.0
24,45.0,1.522870e+12,OPEN,30.0,30.0,0.0
25,72.0,1.522870e+12,OPEN,30.0,31.0,1.0
26,63.0,1.522870e+12,OPEN,1.0,35.0,34.0
27,91.0,1.522870e+12,OPEN,21.0,30.0,9.0
28,99.0,1.522870e+12,OPEN,1.0,30.0,29.0
29,9.0,1.522870e+12,OPEN,1.0,24.0,23.0
...,...,...,...,...,...,...
996156,2.0,1.524141e+12,OPEN,12.0,20.0,8.0
996157,75.0,1.524141e+12,OPEN,1.0,40.0,39.0
996158,26.0,1.524142e+12,OPEN,19.0,20.0,1.0
996159,65.0,1.524142e+12,OPEN,11.0,40.0,27.0
996160,15.0,1.524141e+12,OPEN,1.0,16.0,15.0
996161,86.0,1.524142e+12,OPEN,1.0,38.0,37.0
996162,35.0,1.524142e+12,OPEN,0.0,30.0,30.0
996163,10.0,1.524142e+12,OPEN,12.0,16.0,4.0
996164,100.0,1.524142e+12,OPEN,1.0,25.0,24.0
996165,24.0,1.524142e+12,OPEN,0.0,20.0,20.0
996166,64.0,1.524142e+12,OPEN,23.0,40.0,17.0
996167,85.0,1.524142e+12,OPEN,0.0,35.0,35.0
996168,33.0,1.524142e+12,OPEN,9.0,23.0,14.0
996169,44.0,1.524142e+12,OPEN,12.0,30.0,18.0
996170,89.0,1.524142e+12,OPEN,26.0,40.0,14.0
996171,57.0,1.524142e+12,OPEN,22.0,23.0,1.0
996172,80.0,1.524141e+12,OPEN,10.0,40.0,30.0
996173,41.0,1.524142e+12,OPEN,6.0,20.0,14.0
996174,3.0,1.524142e+12,OPEN,1.0,20.0,18.0
996175,46.0,1.524142e+12,OPEN,14.0,35.0,21.0
996176,40.0,1.524142e+12,OPEN,6.0,21.0,15.0
996177,29.0,1.524141e+12,OPEN,11.0,29.0,18.0
996178,70.0,1.524142e+12,OPEN,29.0,40.0,11.0
996179,103.0,1.524142e+12,OPEN,0.0,40.0,40.0
996180,28.0,1.524142e+12,OPEN,1.0,30.0,29.0
996181,39.0,1.524142e+12,OPEN,9.0,20.0,11.0
996182,83.0,1.524142e+12,OPEN,0.0,40.0,40.0
996183,92.0,1.524142e+12,OPEN,0.0,40.0,40.0
996184,21.0,1.524142e+12,OPEN,29.0,30.0,1.0
996185,88.0,1.524142e+12,OPEN,3.0,30.0,27.0

In [17]:
df_w

     temperature    rain              time
0           8.04  0.0050  14/03/2018 00:00
1           7.72  0.1050  14/03/2018 03:00
2           7.65  0.2600  14/03/2018 06:00
3           7.95  0.2350  14/03/2018 09:00
4           8.10  0.4750  14/03/2018 12:00
5           8.20  1.1400  14/03/2018 15:00
6           8.04  1.1550  14/03/2018 18:00
7           8.45  1.6250  14/03/2018 21:00
8           8.32  1.7300  15/03/2018 00:00
9           8.09  3.1750  15/03/2018 03:00
10          8.11  3.8600  15/03/2018 06:00
11          8.16  0.1400  15/03/2018 09:00
12          8.13  0.1100  15/03/2018 12:00
13          8.29  0.0150  15/03/2018 15:00
14          8.42  0.0150  15/03/2018 18:00
15          7.85  0.0050  15/03/2018 21:00
16          7.55  0.7550  16/03/2018 00:00
17          7.13  0.1800  16/03/2018 03:00
18          5.92  0.0000  16/03/2018 06:00
19          6.89  0.0425  16/03/2018 09:00
20          8.63  0.0375  16/03/2018 12:00
21          9.48  0.0000  16/03/2018 15:00
22          7.90  0.0025  16/03/2018 18:00
23          5.71  0.4300  16/03/2018 21:00
24          6.73  1.4250  17/03/2018 00:00
25          4.86  0.1600  17/03/2018 03:00
26          3.22  0.1600  17/03/2018 06:00
27          2.55  0.2150  17/03/2018 09:00
28          2.00  0.0125  17/03/2018 12:00
29          2.47  0.0000  17/03/2018 15:00
..           ...     ...               ...
803        13.99  0.0000  18/04/2018 20:00
804        13.00  0.0000  18/04/2018 20:30
805        13.49  0.0000  18/04/2018 21:00
806        13.42  0.0000  18/04/2018 21:30
807        13.49  0.0000  18/04/2018 22:00
808        13.42  0.0000  18/04/2018 22:30
809        12.49  0.0000  18/04/2018 23:00
810        12.00  0.0000  18/04/2018 23:30
811        12.49  0.0000  19/04/2018 00:00
812        12.42  0.0000  19/04/2018 00:30
813        11.00  0.0000  19/04/2018 01:30
814        12.00  0.0000  19/04/2018 02:00
815        12.00  0.0000  19/04/2018 02:30
816        10.51  0.0000  19/04/2018 03:00
817         9.75  0.0000  19/04/2018 03:30
818         9.52  0.0000  19/04/2018 04:00
819         9.75  0.0000  19/04/2018 04:30
820        10.02  0.0000  19/04/2018 05:00
821        10.74  0.0000  19/04/2018 05:30
822        11.01  0.0000  19/04/2018 06:00
823        11.58  0.0000  19/04/2018 06:30
824        12.01  0.0000  19/04/2018 07:00
825        12.01  0.0000  19/04/2018 07:30
826        14.00  0.0000  19/04/2018 08:30
827        14.49  0.0000  19/04/2018 09:00
828        14.49  0.0000  19/04/2018 09:30
829        13.99  0.0000  19/04/2018 10:00
830        14.51  0.0000  19/04/2018 10:30
831        15.51  0.0000  19/04/2018 11:00
832        16.00  0.0000  19/04/2018 11:30

[833 rows x 3 columns]

In [18]:
df_w[df_w["rain"] == 0].count()

temperature    721
rain           721
time           721
dtype: int64

In [19]:
df_weather = df_w.drop_duplicates('time')

In [20]:
df_bikes = df_b.drop_duplicates()

Since there is no foreign key in both tables, it's better to add two coulmn with same style of timestamp.

#### For weather table, convent to timestamp

In [21]:
import time
pattern='%d/%m/%Y %H:%M'

In [22]:
#There are a little difference between tamp in weather and bike Since the bike time has accuacy in millseconds
TimestampWeather=[]
for index, row in df_weather.iterrows():
    TimestampWeather.append(int(time.mktime(time.strptime(row['time'],pattern))* 1000))

In [23]:
len(TimestampWeather)

797

In [24]:
df_weather["tamp"] = TimestampWeather

/home/wu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df_weather.drop_duplicates('tamp')

     temperature    rain              time           tamp
0           8.04  0.0050  14/03/2018 00:00  1520985600000
1           7.72  0.1050  14/03/2018 03:00  1520996400000
2           7.65  0.2600  14/03/2018 06:00  1521007200000
3           7.95  0.2350  14/03/2018 09:00  1521018000000
4           8.10  0.4750  14/03/2018 12:00  1521028800000
5           8.20  1.1400  14/03/2018 15:00  1521039600000
6           8.04  1.1550  14/03/2018 18:00  1521050400000
7           8.45  1.6250  14/03/2018 21:00  1521061200000
8           8.32  1.7300  15/03/2018 00:00  1521072000000
9           8.09  3.1750  15/03/2018 03:00  1521082800000
10          8.11  3.8600  15/03/2018 06:00  1521093600000
11          8.16  0.1400  15/03/2018 09:00  1521104400000
12          8.13  0.1100  15/03/2018 12:00  1521115200000
13          8.29  0.0150  15/03/2018 15:00  1521126000000
14          8.42  0.0150  15/03/2018 18:00  1521136800000
15          7.85  0.0050  15/03/2018 21:00  1521147600000
16          7.55  0.7550  16/03/2018 00:00  1521158400000
17          7.13  0.1800  16/03/2018 03:00  1521169200000
18          5.92  0.0000  16/03/2018 06:00  1521180000000
19          6.89  0.0425  16/03/2018 09:00  1521190800000
20          8.63  0.0375  16/03/2018 12:00  1521201600000
21          9.48  0.0000  16/03/2018 15:00  1521212400000
22          7.90  0.0025  16/03/2018 18:00  1521223200000
23          5.71  0.4300  16/03/2018 21:00  1521234000000
24          6.73  1.4250  17/03/2018 00:00  1521244800000
25          4.86  0.1600  17/03/2018 03:00  1521255600000
26          3.22  0.1600  17/03/2018 06:00  1521266400000
27          2.55  0.2150  17/03/2018 09:00  1521277200000
28          2.00  0.0125  17/03/2018 12:00  1521288000000
29          2.47  0.0000  17/03/2018 15:00  1521298800000
..           ...     ...               ...            ...
803        13.99  0.0000  18/04/2018 20:00  1524078000000
804        13.00  0.0000  18/04/2018 20:30  1524079800000
805        13.49  0.0000  18/04/2018 21:00  1524081600000
806        13.42  0.0000  18/04/2018 21:30  1524083400000
807        13.49  0.0000  18/04/2018 22:00  1524085200000
808        13.42  0.0000  18/04/2018 22:30  1524087000000
809        12.49  0.0000  18/04/2018 23:00  1524088800000
810        12.00  0.0000  18/04/2018 23:30  1524090600000
811        12.49  0.0000  19/04/2018 00:00  1524092400000
812        12.42  0.0000  19/04/2018 00:30  1524094200000
813        11.00  0.0000  19/04/2018 01:30  1524097800000
814        12.00  0.0000  19/04/2018 02:00  1524099600000
815        12.00  0.0000  19/04/2018 02:30  1524101400000
816        10.51  0.0000  19/04/2018 03:00  1524103200000
817         9.75  0.0000  19/04/2018 03:30  1524105000000
818         9.52  0.0000  19/04/2018 04:00  1524106800000
819         9.75  0.0000  19/04/2018 04:30  1524108600000
820        10.02  0.0000  19/04/2018 05:00  1524110400000
821        10.74  0.0000  19/04/2018 05:30  1524112200000
822        11.01  0.0000  19/04/2018 06:00  1524114000000
823        11.58  0.0000  19/04/2018 06:30  1524115800000
824        12.01  0.0000  19/04/2018 07:00  1524117600000
825        12.01  0.0000  19/04/2018 07:30  1524119400000
826        14.00  0.0000  19/04/2018 08:30  1524123000000
827        14.49  0.0000  19/04/2018 09:00  1524124800000
828        14.49  0.0000  19/04/2018 09:30  1524126600000
829        13.99  0.0000  19/04/2018 10:00  1524128400000
830        14.51  0.0000  19/04/2018 10:30  1524130200000
831        15.51  0.0000  19/04/2018 11:00  1524132000000
832        16.00  0.0000  19/04/2018 11:30  1524133800000

[797 rows x 4 columns]

In [26]:
df_weather.head()

   temperature   rain              time           tamp
0         8.04  0.005  14/03/2018 00:00  1520985600000
1         7.72  0.105  14/03/2018 03:00  1520996400000
2         7.65  0.260  14/03/2018 06:00  1521007200000
3         7.95  0.235  14/03/2018 09:00  1521018000000
4         8.10  0.475  14/03/2018 12:00  1521028800000

#### For bike table,  Add a human readable time in bike table

In [27]:
#drop all the timestamp is NaN
df_bikes = df_bikes[np.isfinite(df_bikes['TIME'])]

In [28]:
time = []
import datetime
for index, row in df_bikes.iterrows():
    time.append(datetime.datetime.fromtimestamp(int(row["TIME"]/1000)).strftime('%d/%m/%Y %H:%M:%S'))

In [29]:
time[0:5]

['04/04/2018 20:29:32',
 '04/04/2018 20:28:54',
 '04/04/2018 20:29:32',
 '04/04/2018 20:27:49',
 '04/04/2018 20:29:27']

In [30]:
df_bikes["time"] = time

In [31]:
import numpy as np
weather_tamp=[]
weather_rain=[]
weather_temperature = []
weather_time =[]
for index, row in df_bikes.iterrows():
    myNumber = row["TIME"]
    closestTime = min(TimestampWeather, key = lambda x : abs(x-myNumber))
    if(abs(myNumber-closestTime) > 60 * 60 * 1000):
        weather_time.append(np.nan)
        weather_rain.append(np.nan)
        weather_temperature.append(np.nan)
        weather_tamp.append(np.nan)
    else:
        weather_tamp.append(closestTime)
        weather_rain.append(df_weather.loc[df_weather['tamp'] == closestTime,'rain'].item())
        weather_temperature.append(df_weather.loc[df_weather['tamp'] == closestTime,'temperature'].item())
        weather_time.append(df_weather.loc[df_weather['tamp'] == closestTime,'time'].item())

In [32]:
weather_tamp.count(np.nan)

6083

In [33]:
df_bikes["weather_tamp"] = pd.Series(weather_tamp).values
df_bikes["weather_rain"] = pd.Series(weather_rain).values
df_bikes["weather_temperature"] =pd.Series(weather_temperature).values
df_bikes["weather_time"]=pd.Series(weather_time).values

In [34]:
df_bikes.head(20)

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,time,weather_tamp,weather_rain,weather_temperature,weather_time
0,42.0,1.522870e+12,OPEN,24.0,30.0,6.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
1,30.0,1.522870e+12,OPEN,14.0,20.0,6.0,04/04/2018 20:28:54,1.522872e+12,0.0,5.62,04/04/2018 21:00
2,54.0,1.522870e+12,OPEN,2.0,33.0,31.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
3,56.0,1.522870e+12,OPEN,15.0,40.0,25.0,04/04/2018 20:27:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
4,6.0,1.522870e+12,OPEN,7.0,20.0,12.0,04/04/2018 20:29:27,1.522872e+12,0.0,5.62,04/04/2018 21:00
5,18.0,1.522870e+12,OPEN,3.0,30.0,27.0,04/04/2018 20:29:18,1.522872e+12,0.0,5.62,04/04/2018 21:00
6,32.0,1.522870e+12,OPEN,10.0,30.0,20.0,04/04/2018 20:27:21,1.522872e+12,0.0,5.62,04/04/2018 21:00
7,52.0,1.522870e+12,OPEN,1.0,32.0,31.0,04/04/2018 20:25:17,1.522872e+12,0.0,5.62,04/04/2018 21:00
8,48.0,1.522870e+12,OPEN,5.0,40.0,34.0,04/04/2018 20:20:56,1.522872e+12,0.0,5.62,04/04/2018 21:00
9,13.0,1.522870e+12,OPEN,6.0,30.0,24.0,04/04/2018 20:22:36,1.522872e+12,0.0,5.62,04/04/2018 21:00
10,43.0,1.522870e+12,OPEN,16.0,30.0,14.0,04/04/2018 20:28:15,1.522872e+12,0.0,5.62,04/04/2018 21:00
11,81.0,1.522870e+12,OPEN,36.0,40.0,4.0,04/04/2018 20:22:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
12,31.0,1.522870e+12,OPEN,8.0,20.0,11.0,04/04/2018 20:23:38,1.522872e+12,0.0,5.62,04/04/2018 21:00
13,98.0,1.522870e+12,OPEN,0.0,30.0,30.0,04/04/2018 20:24:00,1.522872e+12,0.0,5.62,04/04/2018 21:00
14,14.0,1.522870e+12,OPEN,3.0,30.0,27.0,04/04/2018 20:20:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
15,1.0,1.522870e+12,OPEN,0.0,31.0,31.0,04/04/2018 20:24:36,1.522872e+12,0.0,5.62,04/04/2018 21:00
16,23.0,1.522870e+12,OPEN,17.0,30.0,13.0,04/04/2018 20:25:12,1.522872e+12,0.0,5.62,04/04/2018 21:00
17,68.0,1.522870e+12,OPEN,1.0,40.0,38.0,04/04/2018 20:26:12,1.522872e+12,0.0,5.62,04/04/2018 21:00
18,74.0,1.522870e+12,OPEN,25.0,30.0,5.0,04/04/2018 20:19:46,1.522872e+12,0.0,5.62,04/04/2018 21:00
19,87.0,1.522870e+12,OPEN,38.0,38.0,0.0,04/04/2018 20:29:17,1.522872e+12,0.0,5.62,04/04/2018 21:00

In [35]:
df_bikes.to_csv("mix.csv")