In [1]:
import sys
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_b = pd.read_csv("all_bikes.csv")
df_w = pd.read_csv("weather.csv")

/home/wu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
df_b

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES
0,42.0,1.522870e+12,OPEN,24.0,30.0,6.0
1,30.0,1.522870e+12,OPEN,14.0,20.0,6.0
2,54.0,1.522870e+12,OPEN,2.0,33.0,31.0
3,56.0,1.522870e+12,OPEN,15.0,40.0,25.0
4,6.0,1.522870e+12,OPEN,7.0,20.0,12.0
5,18.0,1.522870e+12,OPEN,3.0,30.0,27.0
6,32.0,1.522870e+12,OPEN,10.0,30.0,20.0
7,52.0,1.522870e+12,OPEN,1.0,32.0,31.0
8,48.0,1.522870e+12,OPEN,5.0,40.0,34.0
9,13.0,1.522870e+12,OPEN,6.0,30.0,24.0
10,43.0,1.522870e+12,OPEN,16.0,30.0,14.0
11,81.0,1.522870e+12,OPEN,36.0,40.0,4.0
12,31.0,1.522870e+12,OPEN,8.0,20.0,11.0
13,98.0,1.522870e+12,OPEN,0.0,30.0,30.0
14,14.0,1.522870e+12,OPEN,3.0,30.0,27.0
15,1.0,1.522870e+12,OPEN,0.0,31.0,31.0
16,23.0,1.522870e+12,OPEN,17.0,30.0,13.0
17,68.0,1.522870e+12,OPEN,1.0,40.0,38.0
18,74.0,1.522870e+12,OPEN,25.0,30.0,5.0
19,87.0,1.522870e+12,OPEN,38.0,38.0,0.0
20,84.0,1.522870e+12,OPEN,28.0,30.0,2.0
21,90.0,1.522870e+12,CLOSED,0.0,40.0,0.0
22,11.0,1.522870e+12,OPEN,0.0,30.0,30.0
23,17.0,1.522870e+12,OPEN,10.0,20.0,10.0
24,45.0,1.522870e+12,OPEN,30.0,30.0,0.0
25,72.0,1.522870e+12,OPEN,30.0,31.0,1.0
26,63.0,1.522870e+12,OPEN,1.0,35.0,34.0
27,91.0,1.522870e+12,OPEN,21.0,30.0,9.0
28,99.0,1.522870e+12,OPEN,1.0,30.0,29.0
29,9.0,1.522870e+12,OPEN,1.0,24.0,23.0
...,...,...,...,...,...,...
906612,2.0,1.523883e+12,OPEN,10.0,20.0,10.0
906613,75.0,1.523883e+12,OPEN,2.0,40.0,38.0
906614,26.0,1.523883e+12,OPEN,14.0,20.0,6.0
906615,65.0,1.523883e+12,OPEN,13.0,40.0,27.0
906616,15.0,1.523882e+12,OPEN,0.0,16.0,16.0
906617,86.0,1.523882e+12,OPEN,1.0,38.0,37.0
906618,35.0,1.523883e+12,OPEN,9.0,30.0,21.0
906619,10.0,1.523883e+12,OPEN,11.0,16.0,4.0
906620,100.0,1.523882e+12,OPEN,6.0,25.0,19.0
906621,24.0,1.523883e+12,OPEN,3.0,20.0,17.0
906622,64.0,1.523883e+12,OPEN,19.0,40.0,21.0
906623,85.0,1.523883e+12,OPEN,0.0,35.0,35.0
906624,33.0,1.523883e+12,OPEN,20.0,23.0,3.0
906625,44.0,1.523882e+12,OPEN,1.0,30.0,29.0
906626,89.0,1.523882e+12,OPEN,35.0,40.0,5.0
906627,57.0,1.523882e+12,OPEN,21.0,23.0,2.0
906628,80.0,1.523882e+12,OPEN,17.0,40.0,23.0
906629,41.0,1.523882e+12,OPEN,18.0,20.0,1.0
906630,3.0,1.523883e+12,OPEN,6.0,20.0,14.0
906631,46.0,1.523882e+12,OPEN,3.0,35.0,32.0
906632,40.0,1.523883e+12,OPEN,3.0,21.0,18.0
906633,29.0,1.523882e+12,OPEN,4.0,29.0,25.0
906634,70.0,1.523883e+12,OPEN,38.0,40.0,2.0
906635,103.0,1.523883e+12,OPEN,5.0,40.0,35.0
906636,28.0,1.523883e+12,OPEN,6.0,30.0,24.0
906637,39.0,1.523883e+12,OPEN,6.0,20.0,14.0
906638,83.0,1.523882e+12,OPEN,0.0,40.0,40.0
906639,92.0,1.523882e+12,OPEN,0.0,40.0,40.0
906640,21.0,1.523882e+12,OPEN,28.0,30.0,2.0
906641,88.0,1.523883e+12,OPEN,2.0,30.0,28.0

In [4]:
df_w.head()

   temperature   rain              time
0         8.04  0.005  14/03/2018 00:00
1         7.72  0.105  14/03/2018 03:00
2         7.65  0.260  14/03/2018 06:00
3         7.95  0.235  14/03/2018 09:00
4         8.10  0.475  14/03/2018 12:00

In [5]:
df_weather = df_w.drop_duplicates('time')

In [6]:
df_bikes = df_b.drop_duplicates()

Since there is no foreign key in both tables, it's better to add two coulmn with same style of timestamp.

#### For weather table, convent to timestamp

In [7]:
import time
pattern='%d/%m/%Y %H:%M'

In [8]:
#There are a little difference between tamp in weather and bike Since the bike time has accuacy in millseconds
TimestampWeather=[]
for index, row in df_weather.iterrows():
    TimestampWeather.append(int(time.mktime(time.strptime(row['time'],pattern))* 1000))

In [9]:
len(TimestampWeather)

661

In [10]:
df_weather["tamp"] = TimestampWeather

/home/wu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_weather.drop_duplicates('tamp')

     temperature    rain              time           tamp
0           8.04  0.0050  14/03/2018 00:00  1520985600000
1           7.72  0.1050  14/03/2018 03:00  1520996400000
2           7.65  0.2600  14/03/2018 06:00  1521007200000
3           7.95  0.2350  14/03/2018 09:00  1521018000000
4           8.10  0.4750  14/03/2018 12:00  1521028800000
5           8.20  1.1400  14/03/2018 15:00  1521039600000
6           8.04  1.1550  14/03/2018 18:00  1521050400000
7           8.45  1.6250  14/03/2018 21:00  1521061200000
8           8.32  1.7300  15/03/2018 00:00  1521072000000
9           8.09  3.1750  15/03/2018 03:00  1521082800000
10          8.11  3.8600  15/03/2018 06:00  1521093600000
11          8.16  0.1400  15/03/2018 09:00  1521104400000
12          8.13  0.1100  15/03/2018 12:00  1521115200000
13          8.29  0.0150  15/03/2018 15:00  1521126000000
14          8.42  0.0150  15/03/2018 18:00  1521136800000
15          7.85  0.0050  15/03/2018 21:00  1521147600000
16          7.55  0.7550  16/03/2018 00:00  1521158400000
17          7.13  0.1800  16/03/2018 03:00  1521169200000
18          5.92  0.0000  16/03/2018 06:00  1521180000000
19          6.89  0.0425  16/03/2018 09:00  1521190800000
20          8.63  0.0375  16/03/2018 12:00  1521201600000
21          9.48  0.0000  16/03/2018 15:00  1521212400000
22          7.90  0.0025  16/03/2018 18:00  1521223200000
23          5.71  0.4300  16/03/2018 21:00  1521234000000
24          6.73  1.4250  17/03/2018 00:00  1521244800000
25          4.86  0.1600  17/03/2018 03:00  1521255600000
26          3.22  0.1600  17/03/2018 06:00  1521266400000
27          2.55  0.2150  17/03/2018 09:00  1521277200000
28          2.00  0.0125  17/03/2018 12:00  1521288000000
29          2.47  0.0000  17/03/2018 15:00  1521298800000
..           ...     ...               ...            ...
665        10.16  0.0000  15/04/2018 19:30  1523817000000
666        10.00  0.0000  15/04/2018 20:30  1523820600000
667        10.00  0.0000  15/04/2018 21:00  1523822400000
668        10.00  0.0000  15/04/2018 21:30  1523824200000
669        10.00  0.0000  15/04/2018 22:00  1523826000000
670        10.00  0.0000  15/04/2018 22:30  1523827800000
671        10.00  0.0000  15/04/2018 23:00  1523829600000
672        10.00  0.0000  15/04/2018 23:30  1523831400000
673        10.00  0.0000  16/04/2018 00:00  1523833200000
674        10.00  0.0000  16/04/2018 00:30  1523835000000
675         9.49  0.0000  16/04/2018 01:00  1523836800000
676         9.00  0.0000  16/04/2018 01:30  1523838600000
677         9.00  0.0000  16/04/2018 02:00  1523840400000
678         9.00  0.0000  16/04/2018 02:30  1523842200000
679         9.00  0.0000  16/04/2018 03:30  1523845800000
680         8.49  0.0000  16/04/2018 04:00  1523847600000
681         8.00  0.0000  16/04/2018 04:30  1523849400000
682         7.49  0.0000  16/04/2018 05:00  1523851200000
683         7.42  0.0000  16/04/2018 05:30  1523853000000
684         7.49  0.0000  16/04/2018 06:00  1523854800000
685         7.42  0.0000  16/04/2018 06:30  1523856600000
686         8.00  0.0000  16/04/2018 07:00  1523858400000
687         9.00  0.0000  16/04/2018 07:30  1523860200000
688        10.00  0.0000  16/04/2018 08:30  1523863800000
689        11.00  0.0000  16/04/2018 09:00  1523865600000
690        11.00  0.0000  16/04/2018 09:30  1523867400000
691        11.00  0.0000  16/04/2018 10:00  1523869200000
692        11.49  0.0000  16/04/2018 10:30  1523871000000
693        12.49  0.0000  16/04/2018 11:00  1523872800000
694        12.00  0.0000  16/04/2018 11:30  1523874600000

[661 rows x 4 columns]

In [23]:
df_weather.head()

   temperature   rain              time           tamp
0         8.04  0.005  14/03/2018 00:00  1520985600000
1         7.72  0.105  14/03/2018 03:00  1520996400000
2         7.65  0.260  14/03/2018 06:00  1521007200000
3         7.95  0.235  14/03/2018 09:00  1521018000000
4         8.10  0.475  14/03/2018 12:00  1521028800000

#### For bike table,  Add a human readable time in bike table

In [12]:
#drop all the timestamp is NaN
df_bikes = df_bikes[np.isfinite(df_bikes['TIME'])]

In [13]:
time = []
import datetime
for index, row in df_bikes.iterrows():
    time.append(datetime.datetime.fromtimestamp(int(row["TIME"]/1000)).strftime('%d/%m/%Y %H:%M:%S'))

In [14]:
time[0:5]

['04/04/2018 20:29:32',
 '04/04/2018 20:28:54',
 '04/04/2018 20:29:32',
 '04/04/2018 20:27:49',
 '04/04/2018 20:29:27']

In [15]:
df_bikes["time"] = time

In [16]:
import numpy as np
weather_tamp=[]
weather_rain=[]
weather_temperature = []
weather_time =[]
for index, row in df_bikes.iterrows():
    myNumber = row["TIME"]
    closestTime = min(TimestampWeather, key = lambda x : abs(x-myNumber))
    if(abs(myNumber-closestTime) > 60 * 60 * 1000):
        weather_time.append(np.nan)
        weather_rain.append(np.nan)
        weather_temperature.append(np.nan)
        weather_tamp.append(np.nan)
    else:
        weather_tamp.append(closestTime)
        weather_rain.append(df_weather.loc[df_weather['tamp'] == closestTime,'rain'].item())
        weather_temperature.append(df_weather.loc[df_weather['tamp'] == closestTime,'temperature'].item())
        weather_time.append(df_weather.loc[df_weather['tamp'] == closestTime,'time'].item())

In [21]:
weather_tamp.count(np.nan)

6036

In [17]:
df_bikes["weather_tamp"] = pd.Series(weather_tamp).values
df_bikes["weather_rain"] = pd.Series(weather_rain).values
df_bikes["weather_temperature"] =pd.Series(weather_temperature).values
df_bikes["weather_time"]=pd.Series(weather_time).values

In [18]:
df_bikes.head(20)

,STATION_NUMBER,TIME,STATUS,NUMBER_OF_BIKES,NUMBER_OF_STANDS,NUMBER_OF_SPACES,time,weather_tamp,weather_rain,weather_temperature,weather_time
0,42.0,1.522870e+12,OPEN,24.0,30.0,6.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
1,30.0,1.522870e+12,OPEN,14.0,20.0,6.0,04/04/2018 20:28:54,1.522872e+12,0.0,5.62,04/04/2018 21:00
2,54.0,1.522870e+12,OPEN,2.0,33.0,31.0,04/04/2018 20:29:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
3,56.0,1.522870e+12,OPEN,15.0,40.0,25.0,04/04/2018 20:27:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
4,6.0,1.522870e+12,OPEN,7.0,20.0,12.0,04/04/2018 20:29:27,1.522872e+12,0.0,5.62,04/04/2018 21:00
5,18.0,1.522870e+12,OPEN,3.0,30.0,27.0,04/04/2018 20:29:18,1.522872e+12,0.0,5.62,04/04/2018 21:00
6,32.0,1.522870e+12,OPEN,10.0,30.0,20.0,04/04/2018 20:27:21,1.522872e+12,0.0,5.62,04/04/2018 21:00
7,52.0,1.522870e+12,OPEN,1.0,32.0,31.0,04/04/2018 20:25:17,1.522872e+12,0.0,5.62,04/04/2018 21:00
8,48.0,1.522870e+12,OPEN,5.0,40.0,34.0,04/04/2018 20:20:56,1.522872e+12,0.0,5.62,04/04/2018 21:00
9,13.0,1.522870e+12,OPEN,6.0,30.0,24.0,04/04/2018 20:22:36,1.522872e+12,0.0,5.62,04/04/2018 21:00
10,43.0,1.522870e+12,OPEN,16.0,30.0,14.0,04/04/2018 20:28:15,1.522872e+12,0.0,5.62,04/04/2018 21:00
11,81.0,1.522870e+12,OPEN,36.0,40.0,4.0,04/04/2018 20:22:32,1.522872e+12,0.0,5.62,04/04/2018 21:00
12,31.0,1.522870e+12,OPEN,8.0,20.0,11.0,04/04/2018 20:23:38,1.522872e+12,0.0,5.62,04/04/2018 21:00
13,98.0,1.522870e+12,OPEN,0.0,30.0,30.0,04/04/2018 20:24:00,1.522872e+12,0.0,5.62,04/04/2018 21:00
14,14.0,1.522870e+12,OPEN,3.0,30.0,27.0,04/04/2018 20:20:49,1.522872e+12,0.0,5.62,04/04/2018 21:00
15,1.0,1.522870e+12,OPEN,0.0,31.0,31.0,04/04/2018 20:24:36,1.522872e+12,0.0,5.62,04/04/2018 21:00
16,23.0,1.522870e+12,OPEN,17.0,30.0,13.0,04/04/2018 20:25:12,1.522872e+12,0.0,5.62,04/04/2018 21:00
17,68.0,1.522870e+12,OPEN,1.0,40.0,38.0,04/04/2018 20:26:12,1.522872e+12,0.0,5.62,04/04/2018 21:00
18,74.0,1.522870e+12,OPEN,25.0,30.0,5.0,04/04/2018 20:19:46,1.522872e+12,0.0,5.62,04/04/2018 21:00
19,87.0,1.522870e+12,OPEN,38.0,38.0,0.0,04/04/2018 20:29:17,1.522872e+12,0.0,5.62,04/04/2018 21:00

In [19]:
df_bikes.to_csv("mix.csv")