In [2]:
import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt
import pylab

# import matplotlib.patches as mpatches
# import seaborn as sns
# from matplotlib.backends.backend_pdf import PdfPages
# %matplotlib inline


DF = pd.read_csv('SQLdata.csv')


df = DF.loc[(DF['Station No.'] == 2) & (DF['Time']>1520485200000) & (DF['Time']<1520555400000)]

df['Time'] *= 1000000

df['Time'] = pd.to_datetime(df['Time'])

# df['Bikes Avail'] /= 6


# dfA = df.loc[(df['Station No.'] == 2) & (df['Time']>1520485200000) & (df['Time']<1520555400000)]
# dfA = df.loc[(df['Station No.'] == 3)]

df= df[['Time','Bikes Avail']]

# plt.figure()
# plt.plot(dfA['Time'],dfA['Bikes Avail'])
# df.hist(column='Bikes Avail',bins=39)

df

D:\Programs\Anaconda3\envs\comp47350py36\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Programs\Anaconda3\envs\comp47350py36\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                     Time  Bikes Avail
17671 2018-03-08 05:00:51            7
17771 2018-03-08 05:00:51            7
17871 2018-03-08 05:10:55            7
17971 2018-03-08 05:10:55            7
18071 2018-03-08 05:20:59            7
18171 2018-03-08 05:25:40            6
18271 2018-03-08 05:33:09            6
18371 2018-03-08 05:33:09            6
18471 2018-03-08 05:43:14            5
18571 2018-03-08 05:43:14            5
18671 2018-03-08 05:49:49            5
18771 2018-03-08 05:55:09            4
18871 2018-03-08 05:55:09            4
18971 2018-03-08 06:05:13            3
19071 2018-03-08 06:05:13            3
19171 2018-03-08 06:18:22            3
19271 2018-03-08 06:18:22            3
19371 2018-03-08 06:28:25            2
19471 2018-03-08 06:33:08            2
19571 2018-03-08 06:37:16            0
19671 2018-03-08 06:37:16            0
19771 2018-03-08 06:47:20            0
19871 2018-03-08 06:47:20            0
19971 2018-03-08 06:57:24            0
20071 2018-03-08 06:57:24            0
20171 2018-03-08 07:07:29            0
20271 2018-03-08 07:07:29            0
20371 2018-03-08 07:15:53            0
20471 2018-03-08 07:15:53            0
20571 2018-03-08 07:25:57            0
...                   ...          ...
38071 2018-03-08 22:03:49           18
38171 2018-03-08 22:03:49           18
38271 2018-03-08 22:15:21           16
38371 2018-03-08 22:15:21           16
38471 2018-03-08 22:25:33           15
38571 2018-03-08 22:25:33           15
38671 2018-03-08 22:35:43           15
38771 2018-03-08 22:35:43           15
38871 2018-03-08 22:45:52           15
38971 2018-03-08 22:51:35           17
39071 2018-03-08 22:51:35           17
39171 2018-03-08 22:51:35           17
39271 2018-03-08 23:01:45           17
39371 2018-03-08 23:01:45           17
39471 2018-03-08 23:11:56           17
39571 2018-03-08 23:11:56           17
39671 2018-03-08 23:22:07           17
39771 2018-03-08 23:22:07           17
39871 2018-03-08 23:32:18           17
39971 2018-03-08 23:41:11           17
40071 2018-03-08 23:43:53           17
40171 2018-03-08 23:43:53           17
40271 2018-03-08 23:54:02           17
40371 2018-03-08 23:54:02           17
40471 2018-03-09 00:05:42           18
40571 2018-03-09 00:10:07           19
40671 2018-03-09 00:10:07           19
40771 2018-03-09 00:20:18           19
40871 2018-03-09 00:20:18           19
40971 2018-03-09 00:29:45           20

[234 rows x 2 columns]

In [3]:


dfB = pd.DataFrame( columns=['Time','Avg bikes'])

i = 0
k=0
while i <= len(df.index)-6:
    c = 0
    for j in range(0,6):
        c+=df['Bikes Avail'].iloc[i+j]
    c=int(c/6)
    
    dfB.set_value(k, 'Avg bikes', c)
    k+=1
    i+=6
    
times = []

j = 0
for i in range(5,24):
    ta = str(i)+':00'
    tb = str(i)+':30'
    i+=1
    times.append(ta)
    times.append(tb)
times.append('24:00')

dfB['Time']=times     

dfB=dfB.set_index('Time')
dfB

      Avg bikes
Time
5:00          6
5:30          5
6:00          3
6:30          0
7:00          0
7:30          0
8:00          0
8:30          0
9:00          0
9:30          0
10:00         0
10:30         0
11:00         0
11:30         0
12:00         0
12:30         0
13:00        16
13:30        17
14:00        17
14:30        17
15:00        17
15:30        16
16:00        16
16:30        15
17:00        12
17:30         9
18:00        10
18:30        14
19:00        15
19:30        13
20:00        13
20:30        15
21:00        17
21:30        19
22:00        16
22:30        16
23:00        17
23:30        17
24:00        19

In [4]:
dfB.plot(kind='bar', figsize=(17,10), width=0.95)

In [5]:
StatNo = DF['Station No.'].unique()

# Print histograms for all stations on a Thursday

#Isolate data from the open times on Thursday 5:00 - 00:30
dfTh = DF.loc[(DF['Time']>1520485200000) & (DF['Time']<1520555400000)]

#Dataframe used as variable for printing graphs
dfG = pd.DataFrame(index = times, columns=['Avg bikes'])
 
# iterate through each station number
for I in StatNo:
    dfTemp= dfTh.loc[(dfTh['Station No.']==I)]
    plt.figure() 
    i = 0
    k=0
    #Time intervals are 5 minutes, which it 6 per half hour
    #this section calculates the average for each half hour and stores it in the temporary dataframe
    while i <= len(dfTemp.index)-6:
        c = 0

        for j in range(0,6):
            c+=dfTemp['Bikes Avail'].iloc[i+j]
        c=int(c/6)

        dfG.iloc[k,0]=c
        k+=1
        i+=6
    #Generate title for each graph
    StatNum = 'Station no.'+str(int(I))
    
    dfG.plot(kind='bar', figsize=(18,2), width=0.95, position=0, title=StatNum)
    
    
#     filepath = 'Sub /Thursday/Station'+str(int(I))
#     plt.savefig(filepath, bbox_inches='tight')

D:\Programs\Anaconda3\envs\comp47350py36\lib\site-packages\matplotlib\pyplot.py:524: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

ValueError: cannot convert float NaN to integer

In [6]:
# Print histograms for all stations on a Friday

dfFr = DF.loc[(DF['Time']>1520571600000) & (DF['Time']<1520641800000)]

dfG = pd.DataFrame(index = times, columns=['Avg bikes'])
     
for I in StatNo:

    dfTemp= dfFr.loc[(dfFr['Station No.']==I)]
    plt.figure() 
    i = 0
    k=0

    while i <= len(dfTemp.index)-6:
        c = 0

        for j in range(0,6):
            c+=dfTemp['Bikes Avail'].iloc[i+j]
        c=int(c/6)

        dfG.iloc[k,0]=c
        k+=1
        i+=6
    
    StatNum = 'Station no.'+str(int(I))
    
    dfG.plot(kind='bar', figsize=(18,2), width=0.95, position=0, title=StatNum)

D:\Programs\Anaconda3\envs\comp47350py36\lib\site-packages\matplotlib\pyplot.py:524: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)

ValueError: cannot convert float NaN to integer

In [ ]:
# Print histograms for all stations on a Saturday

dfSa = DF.loc[(DF['Time']>1520658000000) & (DF['Time']<1520728200000)]

#Dataframe used as variable for printing graphs
dfG = pd.DataFrame(index = times, columns=['Avg bikes'])
 
# iterate through each station number
for I in StatNo:
    dfTemp= dfSa.loc[(dfSa['Station No.']==I)]
    fig = plt.figure() 
    i = 0
    k=0
    #Time intervals are 5 minutes, which it 6 per half hour
    #this section calculates the average for each half hour and stores it in the temporary dataframe
    while i <= len(dfTemp.index)-6:
        c = 0

        for j in range(0,6):
            c+=dfTemp['Bikes Avail'].iloc[i+j]
        c=int(c/6)

        dfG.iloc[k,0]=c
        k+=1
        i+=6
    #Generate title for each graph
    StatNum = 'StationNo.'+str(int(I))
    
    dfG.plot(kind='bar', figsize=(18,2), width=0.95, position=0, title=StatNum)
    fig.show()
    filename = StatNum+'.png'
    fig.savefig(filename)

In [ ]:
# Print histograms for all stations on a Sunday

dfSu = DF.loc[(DF['Time']>1520744400000) & (DF['Time']<1520814600000)]

#Dataframe used as variable for printing graphs
dfG = pd.DataFrame(index = times, columns=['Avg bikes'])
 
# iterate through each station number
for I in StatNo:
    dfTemp= dfSu.loc[(dfSu['Station No.']==I)]
    plt.figure() 
    i = 0
    k=0
    #Time intervals are 5 minutes, which it 6 per half hour
    #this section calculates the average for each half hour and stores it in the temporary dataframe
    while i <= len(dfTemp.index)-6:
        c = 0

        for j in range(0,6):
            c+=dfTemp['Bikes Avail'].iloc[i+j]
        c=int(c/6)

        dfG.iloc[k,0]=c
        k+=1
        i+=6
    #Generate title for each graph
    StatNum = 'Station no.'+str(int(I))
    
    dfG.plot(kind='bar', figsize=(18,2), width=0.95, position=0, title=StatNum)

In [ ]:
# Print histograms for all stations on a Saturday

dfSa = DF.loc[(DF['Time']>1520658000000) & (DF['Time']<1520728200000)]

#Dataframe used as variable for printing graphs
dfG = pd.DataFrame(index = times, columns=['Avg bikes'])
 
# iterate through each station number
I = StatNo[4]
dfTemp= dfSa.loc[(dfSa['Station No.']==I)]
plt.figure() 
i = 0
k=0
#Time intervals are 5 minutes, which it 6 per half hour
#this section calculates the average for each half hour and stores it in the temporary dataframe
while i <= len(dfTemp.index)-6:
    c = 0

    for j in range(0,6):
        c+=dfTemp['Bikes Avail'].iloc[i+j]
    c=int(c/6)

    dfG.iloc[k,0]=c
    k+=1
    i+=6
#Generate title for each graph
StatNum = 'StationNo.'+str(int(I))

dfG.plot(kind='bar', figsize=(18,2), width=0.95, position=0, title=StatNum)
# fig.show()
filename = StatNum+'.png'
plt.savefig('SAVE.png', bbox_inches='tight')